<!DOCTYPE html>
<html>

<body>
	<div>
		

		<!-- img element without src attribute -->
		<img id="image" src="" />
	</div>

	<button type="button"
		onclick="show()" id="btnID">
		Show Image
	</button>

	<script>
		function show() {

			/* Get image and change value
			of src attribute */
			let image = document.getElementById("image");

			image.src =
"/static/what.png"

			document.getElementById("btnID")
					.style.display = "none";
		}
	</script>
</body>

</html>
